body{
    display: flex;
    align-items: center;
    background: linear-gradient(120dog, #46edf0, #31c3e8);
    height: 100vh;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px, 8px, 10px, rgba(0, 0, 15, .5);
}